<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.wiyun.engine.macosx</string>
	<key>Ancestors</key>
	<array>
		<string>com.wiyun.engine.library.macosx</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses WiEngine for Mac OS X</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>macosx</string>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
                <array>
                    <string>DEBUG</string>
                    <string>MACOSX</string>
                </array>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
                <string>MACOSX</string>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_64_BIT)</string>
			<key>MACOSX_DEPLOYMENT_TARGET</key>
			<string>10.6</string>
			<key>GCC_INPUT_FILETYPE</key>
			<string>sourcecode.cpp.objcpp</string>
			<key>PLIST_FILE_OUTPUT_FORMAT</key>
			<string>same-as-input</string>
        </dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/libwiengine.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/libwisound.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/libbox2d.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/libchipmunk.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/libwinetwork.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/liblua.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/libjson.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
cp "${SRCROOT}/${PROJECT_NAME}/WiEngine/libs/libiap.dylib" "${BUILT_PRODUCTS_DIR}/${EXECUTABLE_FOLDER_PATH}"
					</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Quartz</string>
				<string>OpenGL</string>
				<string>OpenAL</string>
				<string>AppKit</string>
				<string>QTKit</string>
				<string>AudioToolbox</string>
				<string>Foundation</string>
				<string>CoreFoundation</string>
				<string>Cocoa</string>
				<string>Carbon</string>
				<string>CoreAudio</string>
				<string>SystemConfiguration</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -lsqlite3 -lz -lxml2 -lldap</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___-Prefix.pch</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
				<key>HEADER_SEARCH_PATHS</key>
				<array>
					<string>$(SRCROOT)/$(PROJECT_NAME)/WiEngine/headers</string>
					<string>$(SRCROOT)/$(PROJECT_NAME)/WiEngine/headers/chipmunk</string>
				</array>
			</dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Resources/icon.icns</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/icon.icns</string>
		</dict>
		<key>Classes/main.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/main.m</string>
		</dict>
		<key>Classes/GLViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/GLViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/GLViewController.mm</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/GLViewController.mm</string>
		</dict>
		<key>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.m</string>
		</dict>
		<key>Classes/FirstScene.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/FirstScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/FirstScene.cpp</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/FirstScene.cpp</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___-Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___-Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___-Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/MainMenu.xib</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/MainMenu.xib</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Resources/icon.icns</string>
		<string>Resources/MainMenu.xib</string>
		<string>Classes/main.m</string>
		<string>Classes/GLViewController.h</string>
		<string>Classes/GLViewController.mm</string>
		<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.h</string>
		<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.m</string>
		<string>Classes/FirstScene.h</string>
		<string>Classes/FirstScene.cpp</string>
		<string>___PACKAGENAMEASIDENTIFIER___-Prefix.pch</string>
		<string>___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
	</array>
</dict>
</plist>
