<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.wiyun.engine</string>
	<key>Ancestors</key>
	<array>
		<string>com.wiyun.engine.library</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses WiEngine for iOS</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>What device family to create a project for.</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Resources/Default-Portrait~ipad.png</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/Default-Portrait~ipad.png</string>
						</dict>
						<key>Resources/Default-Landscape~ipad.png</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/Default-Landscape~ipad.png</string>
						</dict>
						<key>Resources/MainWindow-iPhone.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/MainWindow-iPhone-Universal.xib</string>
						</dict>
						<key>Resources/GLViewController-iPhone.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/GLViewController-iPhone-Universal.xib</string>
						</dict>
						<key>Resources/MainWindow-iPad.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/MainWindow-iPad-Universal.xib</string>
						</dict>
						<key>Resources/GLViewController-iPad.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/GLViewController-iPad-Universal.xib</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___-Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___-Info-Universal.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Resources/MainWindow-iPhone.xib</string>
						<string>Resources/GLViewController-iPhone.xib</string>
						<string>Resources/MainWindow-iPad.xib</string>
						<string>Resources/GLViewController-iPad.xib</string>
						<string>Resources/Default-Portrait~ipad.png</string>
						<string>Resources/Default-Landscape~ipad.png</string>
						<string>___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Resources/MainWindow.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/MainWindow-iPad.xib</string>
						</dict>
						<key>Resources/GLViewController.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/GLViewController-iPad.xib</string>
						</dict>
						<key>Resources/Default-Portrait~iPad.png</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/Default-Portrait~iPad.png</string>
						</dict>
						<key>Resources/Default-Landscape~iPad.png</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/Default-Landscape~iPad.png</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___-Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Resources/MainWindow.xib</string>
						<string>Resources/GLViewController.xib</string>
						<string>Resources/Default-Portrait~iPad.png</string>
						<string>Resources/Default-Landscape~iPad.png</string>
						<string>___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>ARCHS</key>
							<string>$(ARCHS_UNIVERSAL_IPHONE_OS)</string>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Resources/MainWindow.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/MainWindow-iPhone.xib</string>
						</dict>
						<key>Resources/GLViewController.xib</key>
						<dict>
							<key>Group</key>
							<string>Resources</string>
							<key>Path</key>
							<string>Resources/GLViewController-iPhone.xib</string>
						</dict>
						<key>___PACKAGENAMEASIDENTIFIER___-Info.plist</key>
						<dict>
							<key>Group</key>
							<string>Supporting Files</string>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Resources/MainWindow.xib</string>
						<string>Resources/GLViewController.xib</string>
						<string>___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
                <array>
                    <string>DEBUG</string>
                    <string>IOS</string>
                </array>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
                <string>IOS</string>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>3.2</string>
			<key>GCC_INPUT_FILETYPE</key>
			<string>sourcecode.cpp.objcpp</string>
			<key>PLIST_FILE_OUTPUT_FORMAT</key>
			<string>same-as-input</string>
        </dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
				<string>OpenGLES</string>
				<string>OpenAL</string>
				<string>UIKit</string>
				<string>AVFoundation</string>
				<string>Foundation</string>
				<string>CoreGraphics</string>
				<string>MediaPlayer</string>
				<string>StoreKit</string>
				<string>SystemConfiguration</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>NO</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
				<key>GCC_THUMB_SUPPORT[arch=armv6]</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string>-all_load -ObjC -lsqlite3 -lz -lxml2</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___-Prefix.pch</string>
				<key>INFOPLIST_FILE</key>
				<string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___-Info.plist</string>
				<key>HEADER_SEARCH_PATHS</key>
				<array>
					<string>$(SRCROOT)/$(PROJECT_NAME)/WiEngine/headers</string>
					<string>$(SRCROOT)/$(PROJECT_NAME)/WiEngine/headers/kazmath/include</string>
				</array>
			</dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Resources/Default.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default.png</string>
		</dict>
		<key>Resources/Default@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/Default@2x.png</string>
		</dict>
		<key>Resources/icon.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/icon.png</string>
		</dict>
		<key>Resources/icon@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/icon@2x.png</string>
		</dict>
		<key>Resources/icon-72.png</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Resources/icon-72.png</string>
		</dict>
		<key>Classes/main.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/main.m</string>
		</dict>
		<key>Classes/GLViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/GLViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/GLViewController.mm</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/GLViewController.mm</string>
		</dict>
		<key>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.m</string>
		</dict>
		<key>Classes/FirstScene.h</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/FirstScene.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/FirstScene.cpp</key>
		<dict>
			<key>Group</key>
			<string>Classes</string>
			<key>Path</key>
			<string>Classes/FirstScene.cpp</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___-Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___-Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Resources/Default.png</string>
		<string>Resources/Default@2x.png</string>
		<string>Resources/icon.png</string>
		<string>Resources/icon@2x.png</string>
		<string>Resources/icon-72.png</string>
		<string>Classes/main.m</string>
		<string>Classes/GLViewController.h</string>
		<string>Classes/GLViewController.mm</string>
		<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.h</string>
		<string>Classes/___PACKAGENAMEASIDENTIFIER___AppDelegate.m</string>
		<string>Classes/FirstScene.h</string>
		<string>Classes/FirstScene.cpp</string>
		<string>___PACKAGENAMEASIDENTIFIER___-Prefix.pch</string>
	</array>
</dict>
</plist>
